html , body {
    font-family: 'Dosis', sans-serif;
    background-image: radial-gradient(circle, #dc3559, #dc2b83, #c83bb0, #9a56db, #1f6ffb);
    background-size: 100%;
}

p {
    margin-top: -20px;
    font-size: 20px;
}

button {
    margin-bottom: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

button:hover {
    color: #1F6FFB;
    font-size: 20px;
}

img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 1px solid #1F6FFB;
    border-radius: 15px;
}

span {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

.container {
    text-align: center;
    margin-top: 0px;
    color: whitesmoke;
}

.container2 {
    text-align: center;
    margin-top: 2%;
}

#modal {
    height: 500px;
    width: 60%;
    background-color: #1F6FFB;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-radius: 10px;
    position: absolute;
    top: -600px;
    left: 20%;
    transition: 0.5s;
}

#Reset  {
    height: 50px;
    width: 300px;
    background-color: white;
    color: #1F6FFB;
    font-size: 20px;
    cursor: pointer;
}

.titre, #texte, #Reset, #classement {
    margin-top: 5%;
}

#input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}


/* Media Queries */

@media only screen and (max-width : 840px){

    img {
        width: 65px;
        height: 65px;
    }

    body {
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    span {
        font-size: 18px;
    }

    button {
        width: 55px;
        height: 20px;
        font-size: 10px;
    }

    button:hover {
        font-size: 10px;
    }

    #modal {
        height: 200px;

    }

    #input {
        width: 200px;
        height: 18px;
    }

    #Reset  {
        height: 30px;
        width: 150px;
        background-color: white;
        color: #1F6FFB;
        font-size: 20px;
        cursor: pointer;
    }

    .titre, #texte, #Reset, #classement {
        margin-top: 2%;
    }

}

